<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Roshan Paudel</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
  </head>
  <%- include('./partials/stylesheets') %>
  <body>
    <div class="color-ball1"></div>
    <div class="color-ball2"></div>
    <div class="color-ball3"></div>
    <!-- ======= Mobile nav toggle button ======= -->
    <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <!-- ======= Header ======= -->
    <%- include('./partials/header') %>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <div id="hero-container">
      <%- include('./partials/hero') %>
    </div>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <%- include('./partials/about') %>
      <!-- End About Section -->

      <!-- ======= Portfolio Section ======= -->
      <%- include('./partials/portfolio') %>
      <!-- End Portfolio Section -->

      <!-- ======= Services Section ======= -->
      <%- include('./partials/services') %>
      <!-- End Services Section -->

      <!-- ======= Testimonials Section ======= -->
      <!-- Testimonials are not ready to deploy -->
      <!-- End Testimonials Section -->

      <!-- ======= Contact Section ======= -->
      <%- include('./partials/contact') %>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('./partials/footer') %>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <%- include('./partials/clientJs') %>
  </body>
</html>
